<p class="username">Hello {{username}}</p>
<h1 class="cheaders">Profile</h1> 
<img class="pthumbnail" src="/images/profile-42914_960_720.png" alt="">
        <article class="notes">
            <div>Name: {{ profiles.name }}</div>
            <div>Email: {{ profiles.email }}</div>
            <div>Aptno: {{ profiles.aptno }}</div>
            <div>Apttype: {{ profiles.apttype }}</div>
        </article>
<p><a href="/profiles/updateProfile">Update Profile</a></p>
<p><a href="/profiles/deleteProfile">Delete Profile</a></p>