<p class="username">Hello  {{username}}</p>
<h2 class="cheaders">Notification</h2>
    <div>
		<div>{{ requests.servicetype }}</div>
		<div><p>{{ requests.message }}</p></div>
		<div>Status: {{ requests.status }}</div>
		<div><p>Date: {{ requests.date }}</p></div>
	</div>
</section>