<p class="username">Hello {{username}}</p>
<p>Aptno: {{aptno}}</p>
<h2 class="cheaders">Welcome</h2>
	<p><li>Announcement</li></p>
	<div>
		<div>Subject: {{ notices.subject }}</div>
		<div><p>Details:</p> <p>{{ notices.details }}</p></div>
		<div>Date: {{ notices.date }}</div>
	</div>
	<p><li> Pay your rent online! </li></p>
<p><a href="/paynow"> Pay now </a></p>